body {
    background-color: rgb(56, 56, 56);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container {
    margin: 1em auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(70, 70, 70);
    width: 300px;
    height: 50em;
    padding: 10px;
    border-radius: 8px;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
h1 {
    text-align: center;
    text-align: center;
}
.paragrafo {

    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.xaropinho-img {
    width: 100px;
    height: 100px;
}