body {
  background-color: rgb(29, 29, 29);
  color: white;
  box-sizing: border-box;
  padding: 0;
}

.container {
  margin: auto;
}

h1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
  background-color: #999;
  padding: 10px;
}